# Ignore everything
*

# Keep .gitignore itself
!.gitignore

# Keep specific files
!config.json3438

# Keep a folder
!RTOS_nov20
#!temp1/

# Keep specific file types
!*.md34
!*.txt4343

# keep specific
#!temp1/.gitignore